@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Montserrat';
}

.flex {
    display: flex;
}

#result {
    margin-top: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    background-color: #f9f9f9;
}
input {
    width: 280px;
}
  
/* Menú */
nav {
    display: flex;
    justify-content: space-between;

    align-items: center;
    padding: 10px 40px;
    color: #ff9d00;
    border-bottom: 1px solid #ddd;
    background-color: #fff;
    position: fixed;
    width: 95%;
}
  
.menu-icon {
    display: none;
    cursor: pointer;
}
  
.menu-icon .bar {
    width: 25px;
    height: 3px;
    background-color: #000;
    margin: 4px 0;
    transition: all 0.3s ease;
}
  
#menu {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}
  
#menu li {
    display: inline;
    margin: auto;
}

.MorseCode {
    color: #ff9d00;
    font-weight: 900;
    font-size: 40px;
    text-decoration: none;
    font-family: 'Courier New', Courier, monospace;
}
  
#menu li a {
    color: #ff9d00;
    text-decoration: none;
    padding: 10px;
    display: block;
    margin: auto;
    font-size: 20px;
    font-weight: 300;
    padding-left: 50px;
    transition: font-weight 0.1s ease;
}
  #menu li a:hover {
    font-weight: 800;
}
  
.change .bar:nth-child(1) {
    transform: rotate(-45deg) translate(-5px, 6px);
}
  
.change .bar:nth-child(2) {
    opacity: 0;
}
  
.change .bar:nth-child(3) {
    transform: rotate(45deg) translate(-5px, -6px);
}

/* Apartado de aprendizaje */
main {
    font-family: 'Courier New', Courier, monospace;
    padding: 100px 40px 60px 40px;
    background-color: #fdfefe;
}

.info-learn {
    gap: 30px;
}

.info-learn h2 {
    padding: 0 0 15px 0;
}

.info-abc {
    background-color: #fbfcfc;
    padding: 60px 40px;
}






/* GAME */
.card {
    font-size: 2.5rem;
    padding: 20px;
    border: 2px solid #333;
    border-radius: 10px;
    background-color: #fff;
    display: inline-block;
    margin-bottom: 20px;
    min-width: 200px;
}
.options button {
    font-size: 1.2rem;
    margin: 10px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #ff9d00;
    color: #fff;
    transition: background-color 0.3s;
}
.options button:hover {
    background-color: #b36e00;
}
.score, .round {
    font-size: 1.5rem;
    margin-top: 20px;
}
#resetBtn {
    margin-top: 30px;
    padding: 10px 20px;
    font-size: 1.2rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    background-color: #28A745;
    color: #fff;
    transition: background-color 0.3s;
    display: none;
}
#resetBtn:hover {
    background-color: #1e7e34;
}




  
@media (max-width: 695px) {
    .menu-icon {
        display: block;
    }

    #menu {
        display: none;
        position: absolute;
        top: 50px;
        right: 20px;
        background-color: #333;
        width: 200px;
        flex-direction: column;
    }

    #menu.open {
        display: flex;
    }

    #menu li {
        margin-left: 0;
        display: block;
    }

    #menu li a {
        padding: 15px;
        border-bottom: 1px solid #555;
    }

    .MorseCode {
        margin: auto;
        font-size: 20px;
    }

    #menu li a {
        font-size: 16px;
    }

    .info-learn {
        gap: 30px;
        flex-direction: column;
        text-align: center;
    }
    .info-learn img {
        width: 200px;
        height: 150px;
        margin: auto;
    }
}
